.about-container {
  flex: 1;
  display: flex;
  justify-content: center;
  .about-content-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    @media screen and (min-width: $laptop) {
      flex-direction: row;
      height: 80%;
    }
    .description-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      margin: 0 0 30px 0;
      @media screen and (min-width: $laptop){
        margin: 0 0 0 30px;
      }
      .contact-me-btn {
        border: solid 1px black;
        padding: 5px;
      }
      p {
        font-size: 1.1rem;
        margin-top: 10px;
      }
    }
    .image-container {
      height: 100%;
      width: 100%;
      .headshot {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}