.home-container {
  flex:1;
  display: flex;
  flex-direction: column;
  .home-subsection {
    min-height: 100vh;
    padding: 50px 15px 0;
    @media screen and (min-width: $tablet) {
      padding: 50px 70px 0;
    }
    @media screen and (min-width: $laptop) {
      padding: 50px 100px 0;
    }
    .subsection-intro-header {
      font-size: 1.5rem;
    }
    .subsection-big-header {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    .subsection-paragraph {
      margin-bottom: 15px;
      font-size: 1.2rem;
      max-width: 700px;
    }
    a {
      border: solid 1px black;
      max-width: 200px;
      padding: 5px;
      text-align: center;
    }
    a:hover {
      background-color: black;
      color: white;
    }
  }
  .home-hero {
    position: relative;
    .hero-background {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .overview {
    background-color: whitesmoke;
  }
}