.home-container {
  flex:1;
  display: flex;
  flex-direction: column;
  .home-subsection {
    min-height: 100vh;
  }
  .home-hero {
    h2, p {
      margin-bottom: 10px;
    }
    a {
      border: solid 1px black; 
      padding: 5px;
    }
  }
}