.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: #744af6;
  color: white;
  position: sticky;
  top: 0;
  z-index: 98;
  .lg-links {
    display: none;
    font-size: 1.2rem;
    @media screen and (min-width: $laptop) {
      display: flex;
    }
    a {
      margin-left: 20px;
    }
  }
  .sm-active {
    display: flex;
    @media screen and (min-width: $laptop) {
      display: none;
    }
  }
  .sm-links {
    color: black;
    flex-direction: column;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: solid 1px black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 200px;
    padding: 20px 10px 0;
    z-index: 99;
    a {
      margin: 3px 0;
      font-size: 1.1rem;
    }
  }
  a:hover {
    color: blue;
    text-decoration: underline;
  }
  button:hover {
    background-color: gray;
    color: white;
  }
}