.projects-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 100px;
  .project-item {
    padding: 10px;
    flex-basis: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet) {
      flex-basis: calc(50% - 20px);
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc(33.33% - 20px);
    }
    .project-image-container {
      width: 100%;
      flex: 1;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    a {
      text-decoration: underline;
      color: blue;
    }
    a:hover {
      color:darkblue;
    }
  }
}